body{
    font-family: Arial, Helvetica, sans-serif;
}
input[type=text]{
    width:400px;
    height:50px;
    border:2px solid orange;
}
input[type=number]{
    width:400px;
    height:50px;
    border:2px solid orange;
}
input[type=email]{
    width:400px;
    height:50px;
    border:2px solid orange;
}
input[type=submit]{
    width:400px;
    height:30px;
    border:2px solid orange;
    background-color: orange;
}
figure{
    width:320px;
    border:2px solid #ccc;
    border-radius:10px;
    box-shadow:0px 5px 11px;
}
figcaption{
    padding: 10px;
}
section{
    display:flex;
    justify-content: space-evenly;
    flex-wrap:wrap;
    border:2px solid #ccc;
    border-radius:10px;
    box-shadow:0px 5px 11px;
}
figure img{
    width: 100%;
    height:auto;
    border-radius: 9px;
}
#cntct{
    width:50%;
    background-color: orange;
    display:flex;
    justify-content:space-evenly;
    flex-direction:column;
    align-items: center;
}
#cntctdata{
    width:50%;
    display:flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}
#bimage{
    margin:20px auto;
    background-image: url("https://images.unsplash.com/photo-1512621776951-a57141f2eefd?ixid=MnwxMjA3fDB8MHxzZWFyY2h8N3x8Zm9vZHxlbnwwfHwwfHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=600&q=60"),
                      url("https://images.unsplash.com/photo-1627662235824-d9f447830c76?ixid=MnwxMjA3fDF8MHxzZWFyY2h8MXx8Zm9vZHxlbnwwfHwwfHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1000&q=60"), 
                      url("https://images.unsplash.com/photo-1623855245544-fa477b4d9e3e?ixid=MnwxMjA3fDB8MHx0b3BpYy1mZWVkfDF8eGpQUjRobGtCR0F8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1000&q=60");
    width:80vw;
    height:70vh;;
    background-color: red;
    background-size:cover;
}

nav{
    background-color: #444554;
    display:flex;
    justify-content: flex-end;
}
ul{
    display: flex;
}
.nb{
    color:White;
    background-color:rgb(49, 53, 66);
    width:88px;
    height:45px;
    border:2px solid rgb(55, 60, 82);
    font-size:1.2rem;
}
.nb:hover{
    background-color: rgb(144, 169, 223);
}
@media screen and (max-width:600px){
    nav,ul{
        flex-direction: column;
        margin:auto;
    }
    #details{
        flex-direction: column;
    }
    #cntct{
        width:100%;
    }
    #cntctdata{
        width:100%;
    }
    input[type=text]{
        width:200px;
    }
    input[type=email]{
        width:200px;
    }
    input[type=number]{
        width:200px;
    }
    input[type=submit]{
        width:200px;
    }
}